<div id="outside-work" class="outside-work section">
    <h3 class="section-headline">Outside of Work</h3>
    <p>When I’m not coding or mentoring, I enjoy:</p>
    <ul>
        <li>Cycling or jogging outdoors.</li>
        <li>Playing football with friends.</li>
        <li>Reading <a href="https://www.goodreads.com/review/list/170245827-driss?view=covers" target="_blank">books</a> or listening to <a href="https://castbox.fm/cl/360626" target="_blank">podcasts</a>.</li>
        <li>Hosting <a target="_blank" href="https://community.drissboumlik.com#mock-interview">mock
            interviews</a> or community events to help others improve their skills.</li>
    </ul>
</div>
